#tele{
    color: #FF0043;
    font-weight: bold;
    font-family:sans-serif;

}
#btnn{
    
    background-color: #FF0043;
    border-radius: 23px;
    color: white;
    width: 94px;
    
    font-family: sans-serif;
    font-weight: bold;
    padding:15px 20px ;
    text-align: center;
}
#btnn2{
    background-color: #FF0043;
    border-radius: 23px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding:20px 20px ;
    text-align: center;
    width: 275px;
    

}
#head{
    display: flex;
    justify-content: space-between;
    margin:50px 150px  ;
    
}
#simple{
    font-family: Roboto;
    font-size: 60px;
}
#txt{
    margin: 112px 38px 158px 150px;
    display: flex;
    justify-content: space-between;
}
#txt2{
    color: #00194A;
    margin-top: 258px;
}
#txt3{
    font-size: 18px;
    color: #00194A;
}